$minWidth: 320px;

$fontFamily: 'DM Sans', sans-serif;
$fontSize: 14px;

$blackColor: #000000;
$whiteColor: #FFFFFF;
$greyColor: #E0E5F2;
$greyColor2: #E0E2E7;
$greyColor3: #A3AED0;
$greyColor4: #F2F2F2;
$greyColor5: #6C757D;
$blueColor: #2E65F3;
$blueColor2: #5791EA;
$blueColor3: #2B3674;

$transition: all 0.5s ease;
